@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    scempresarial.com.mx,
    Calle dos número L 140 colonia Adolfo López Mateos, 
    Municipio de Cuernavaca
    Estado de Morelos
    CP 62115
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:soporte@scempresarial.com.mx">soporte@scempresarial.com.mx</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@scempresarial.com.mx">marketing@scempresarial.com.mx</a>
</address>