@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Windows Containers for IMSS</h1>
    <p class="alert-success">Your host ID is: <b>@ViewBag.HostName</b></p>
    <p class="alert-info">@DateTime.Now.ToString("hh:mm:ss tt")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Página de Inicio de POC IMSS
        </p>
        <p><a class="btn btn-default" href="https://docs.aws.amazon.com/AmazonECS/latest/developerguide/Welcome.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Windows Containers for POC</h2>
        <p>Suport for ECS-optimized Windows AMI. </p>
        <p><a class="btn btn-default" href="https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ECS_Windows.html">Learn more &raquo;</a></p>
    </div>
</div>