@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Windows Containers for IMSS</h1>
    <p class="alert-success">Your host ID is: <b>@ViewBag.HostName</b></p>
    <p class="alert-info">@DateTime.Now.ToString("hh:mm:ss tt")</p>
</div>

<div class="row">

</div>